#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin: 0;
  --main-top-width: 600px;
  --main-bottom-width : 500px;
  --main-left-width: 600px;
  --main-right-width: 900px;
  --window-padding: 15px;
}
ul, ol{
  list-style-type: none;  
}

li,
p {
  margin: 0px;
}


/* -------------------------------------------------------*/

.main-display{
  display: grid;
  grid-template-columns: var(--main-left-width) var(--main-right-width);
  grid-template-rows: var(--main-top-width) var(--main-bottom-width);
}

.simple-product{
  border: 2px solid black;
  border-radius: 10px;
  color: red;
  padding: 3px;
  width: 250px;
  text-align: left;
  white-space: nowrap;
}

.search-bar .MuiInputBase-root {
  width: 200px;
}

.search-select-window {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  gap: 20px;
  padding: var(--window-padding);
}

.assortment-analyzer-main-window{
  
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border: 2px solid orange;
  
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: flex-start;
    padding: var(--window-padding);
    overflow-y: auto;
}

.assortment-analyzer-options-window{
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}


.assortment-analyzer-options-item .MuiInputBase-root {
  width: 150px;
}


.assortment-analyzer-list{
  display:flex;
  flex-direction: column;
  gap: 5px;
}

.assortment-analyzer-list li{
  display:flex;
  
  gap: 5px;
  justify-content: flex-start;
}


.product-details-window{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border: 2px solid blue;

  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: space-between;
  padding: var(--window-padding);

  overflow-y: auto;
  
}

.product-details-item{
  border: 2px solid blue;

  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: space-between;
  padding: var(--window-padding);
}

.product-details-chart-title{
  color: red;
  font-weight: 700;
  font-size: 1.5rem;
}


.extra-details-block{
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.assortment-analyzer{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border: solid 2px green;
}

.search-result-window {
  
  overflow-y: auto;
  overflow-x: auto;
  border: 2px solid red;
  height: 100%;
  display: flex;
  flex-direction: column;

}

.search-result-li {
  display: flex;
  flex-direction: row;
  gap: 3px;
  justify-content: space-between;

}


.search-result-li-text {
  text-align: left;
  white-space: nowrap;
  border: none;
  background-color: white;
  margin-right: auto;
}

.page-turn-div{
  margin-top: auto;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  margin-right: 10px;
}



.current-selection-window {
  width: 600px;
  grid-column: 1 / 2;
  flex: 0 0 auto;
  border: 2px solid blue;
}

.current-selection-item {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-start;
}

.product-display-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 2px solid green;
}






@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}