body, html, button{
  margin: 0;
  padding: 0;
  background-color: white;

  
}

*{
  box-sizing: border-box;
}
#root {

  margin: 0px;
  box-sizing: border-box;
  text-align: center;
  margin-left: 10px;

  padding: 0px;
  
  

  display: flex;
  justify-content: flex-start;

  --main-top-width: 50%;
  --main-bottom-width: 50%;

  --main-left-width: 1fr;
  --main-center-width: 1fr;
  --main-right-width: 0.6fr;
  --main-right-right-width: 0.6fr;

  --window-padding: 15px;
  --common-border-radius: 10px;

  --product-details-window-width: 600px;

  --small-button-font-size: .8rem;
  --basic-font-size: 1rem;

  /* Reorder List Grid Dimensions */
  --reorder-list-header-height: 100px;
  --reorder-list-auto-height: 60px;

  --reorder-list-grid-col-width-1: 300px;
  --reorder-list-grid-col-width-2: 50px; /* qty on hnd */
  --reorder-list-grid-col-width-3: 65px; /* reorder */
  --reorder-list-grid-col-width-4: 65px; /* weeks left */
  --reorder-list-grid-col-width-5: 40px; /* MTD */
  --reorder-list-grid-col-width-6: 40px; /* next months */
  --reorder-list-grid-col-width-7: 40px; /* following months sales */
  --reorder-list-grid-col-width-8: 120px; /* qty on hnd */
  --reorder-list-grid-col-width-9: 120px; /* qty on hnd */
  --reorder-list-grid-col-width-10: 120px; /* qty on hnd */
  --reorder-list-grid-col-width-11: 120px; /* qty on hnd */


}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

ul,
ol {
  list-style-type: none;
  padding-inline-start: 10px;
}

li,
p {
  margin: 0px;
}


/* -------------------------------------------------------*/

h2 {
  font-size: 1.6rem;
}

.liquor-app {

  display: flex;
  justify-content: flex-start;
  width: 100%;
 
  box-sizing: border-box;
  padding: 0px;
  flex-direction: column;

  margin: 0px;

}


.main-nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  align-self: flex-start;

  flex: 0 0 auto;

  font-size: 1rem;
  padding: 10px;
  height: 5vh;
}
.page-selection-bar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  flex: 0 0 auto;
  
}
.nav-bar-button{
  padding: 4px;
}

.main-display {
  display: grid;
  grid-template-columns: var(--main-left-width) var(--main-center-width) var(--main-right-width) var(--main-right-right-width);
  grid-template-rows: var(--main-top-width) var(--main-bottom-width) ;
  gap: 15px;
  

 
  height: 90vh;
  padding: 10px;
}
.choose-file-button {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.choose-file-input {
  display: none;
}






/* -------------- Search Window-----------------------------------------*/


.search-result-window {
  grid-row: 1 / 3;
  grid-column: 1 / 3;

  display: flex;
  flex-direction: column;
  border: 2px solid green;
  gap: 20px; 



}

.small-search-result-window{
  grid-row: 1 / 3;
  grid-column: 2 / 3;

  display: flex;
  flex-direction: column;
  border: 2px solid green;
  gap: 20px; 
}

.search-results-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;


}

.search-bar {
  width: 200px;
  height: 40px;
  font-size: 1.4rem;
  padding: 3px;
}

.search-results-title {
  margin: 0px;
  margin-top: 10px;
}

.search-results-clear-all-button {
  width: 120px;
  height: 40px;

  padding: 0px;

  border: 2px solid red;
}



.search-result-li-text {
  text-align: left;
  border: none;
  background-color: white;
  margin-right: auto;
  display: flex;

  flex: 0 0 auto;
  width: 67%;
}

.search-list-li-brand{

  white-space: nowrap;
  overflow-x:hidden;
  margin-right: 6px;
  text-overflow: ellipsis;
}

.search-list-li-descrip{
 
  white-space: nowrap;
  overflow-x:hidden;
  margin-right: auto;
  margin-left: 0;
  text-overflow: ellipsis;
 
}

.search-list-li-size{
  margin-left: auto;
  white-space: nowrap;
  overflow-x:hidden;
}

.search-result-dropdown{
  width: 120px;
  flex: 0 0 auto;
}

.page-turn-div {

  margin-top: auto;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
  justify-self: flex-end;
}



/* -------------- Assortment Analyzer-----------------------------------------*/


.assortment-analyzer-main-window {

  grid-row: 1 / 3;
  grid-column: 1 / 2;

  border: 2px solid orange;
  
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  padding: var(--window-padding);
  overflow-y: auto;
  flex: 0 0 auto;
}

.assortment-analyzer-button-bar {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.calculation-info-message {
  border-radius: var(--common-border-radius);
}

.assortment-analyzer-options-window {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
}


.assortment-analyzer-options-item .MuiInputBase-root {
  width: 90px;
}

.assortment-analyzer-list-window {

}

.assortment-analyzer-list-container {
  overflow-y: auto;

}

.assortment-analyzer-list {
  display: flex;
  flex-direction: column;
  gap: 5px;

  font-size: var(--basic-font-size);
  overflow-y: auto;
}

.assortment-analyzer-list li {
  display: flex;

  gap: 5px;
  justify-content: flex-start;
  align-items: center;


}

.assortment-analyzer-list-delete {
  margin-left: auto;
}

.assortment-list-info {
  border: 2px solid black;
  border-radius: 10px;

  justify-self: center;
  padding: 5px;
  width: 200px;
  text-align: left;
  white-space: nowrap;

  overflow-x: hidden;

  height: 50px;
}


.simple-product {
  border: 2px solid black;
  border-radius: 10px;

  justify-self: center;
  padding: 5px;
  width: 300px;
  text-align: left;
  white-space: nowrap;

  overflow-x: hidden;

  height: 50px;
}

.case-order-amounts-input {
  font-size: inherit;

  text-align: center;
  width: 60px;
  height: 50px;

}

/* ----------------Mini Search Window -----------------------------*/

.mini-search-window{
  grid-row: 1 / 3;
  grid-column: 2 / 3;
}

/* -------------- Product Details----------------------------------------*/


.product-details-window-column {
  grid-row: 1 / 2;
  grid-column: 3 / 5;
  

  border: 2px solid blue;

  display: flex;
  flex-direction: column;
  gap: 10px;



  overflow-y: auto;


}



.product-details-header {
  display: flex;
}

.product-details-title {
  margin-left: 40%;
}

.remove-items-button {
  margin-left: auto;
}

.product-details-item {
 
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: space-between;
  padding: var(--window-padding);
}

.product-details-item-header {
  display: flex;
  gap: 5px;


}

.product-details-chart-title {
  color: red;
  font-weight: 700;
  font-size: 1.1rem;
  justify-self: center;
  margin-left: 19%;
}

.remove-product-details-button {
  margin-left: auto;
  height: 30px;
  padding: 0px;
  padding-left: 3px;
  padding-right: 3px;
  
  border: 2px solid black;
  font-size: var(--small-button-font-size);
}

.extra-details-block {
  display: flex;
  flex-direction: column;
  gap: 2px;
}


/* -------------- Current Selection-----------------------------------------*/

.current-selection-window {
  width: 100%;

  flex: 0 0 auto;
  border: 2px solid blue;
  overflow-y: auto;
}

.current-selection-window-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}



.order-list-window {
  grid-row: 2 / 3;
  grid-column: 3 / 4;


  border: 2px solid blue;
  
}

.order-list-header{
  height: 10%;
}

.order-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  height: 90%;
  overflow-y: scroll;
}

.current-selection-item {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-start;
}

.product-display-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 2px solid green;
}


.list-header{
  display: flex;
  gap: 15px;
  padding: 5px;
  justify-content: center;
}

#list-dropdown{
  font-size: 1.1rem;
}

/* ------------- Need to Reorder ---------*/

h4{
  font-size: 1.1rem;
}

.need-to-reorder-window {

  grid-row: 1 / 3;
  grid-column: 1 / 3;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  border: 1px solid black;
  
  overflow: hidden;
  
  font-size: 0.9rem;
}

.reorder-list-grid {
  
  display: grid;
  
  grid-template-columns: var(--reorder-list-grid-col-width-1) var(--reorder-list-grid-col-width-2) var(--reorder-list-grid-col-width-3) var(--reorder-list-grid-col-width-4) var(--reorder-list-grid-col-width-5) var(--reorder-list-grid-col-width-6) var(--reorder-list-grid-col-width-7) var(--reorder-list-grid-col-width-8) var(--reorder-list-grid-col-width-9) var(--reorder-list-grid-col-width-10) var(--reorder-list-grid-col-width-11);
  grid-template-rows: var(--reorder-list-header-height);
  grid-auto-rows: var(--reorder-list-auto-height);
  align-items: center;
  gap: 5px;
  row-gap: 5px;
  column-gap: 4px;
  padding: 15px;
  padding-top: 0px;
}


.need-to-reorder-button-bar{
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

.reorder-list-header-orientation{
  text-align: center;
  align-self: center;
}

.reorder-list-product-info{
  font-weight: 600;
  
  color: blue;
}

.reorder-list-numerical-item{
  font-size: 1rem;
  justify-self: center;
  
}

.reorder-list-click-button{

  padding: 6px;
  width: 110px;
  border: 1px solid green;
}


.search-list-click-button{
  font-size: .7rem;
  padding: 2px;
}


/* ------------Lists Window -----------*/

.list-display-window {
  grid-row: 2 / 3;
  grid-column: 4 / 5;


  border: 2px solid blue;
  overflow-y: auto;
  
}

.list-dropdown-styles{
  width: 140px;
}

.list-result-li{
  display:flex;
  gap: 5px;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8rem;
}

.list-display-info{
  width: 150px;
  text-align: start;
  overflow: visible;
  
}

.list-delete-button{
  padding-right: 6px;
  padding-left: 6px;
  width: 35px;
  border: 2px solid black;
  color: black;
  margin-left: auto;
  height: 30px;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}