#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin: 0;
  --main-top-width: 800px;
  --main-bottom-width : 500px;
  --main-left-width: 600px;
  --main-right-width: 600px;
}
ul, ol{
  list-style-type: none;  
}

li,
p {
  margin: 0px;
}

.main-display{
  display: grid;
  grid-template-columns: var(--main-left-width) var(--main-right-width);
  grid-template-rows: var(--main-top-width) var(--main-bottom-width);
}

.search-bar .MuiInputBase-root {
  width: 200px;
}

.search-select-window {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  gap: 20px;
}

.product-details-window{
  width: 600px;
  height: 500px;
  border: 2px solid blue;

}

.search-result-window {
  width: 500px;
  height: 500px;
  overflow-y: auto;
  overflow-x: auto;
  border: 2px solid red;

}

.search-result-li {
  display: flex;
  flex-direction: row;
  gap: 3px;
  justify-content: space-between;

}


.search-result-li-text {
  text-align: left;
  white-space: nowrap;
}

.current-selection-window {
  width: 600px;
  flex: 0 0 auto;
  border: 2px solid blue;
}

.current-selection-item {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-start;
}

.product-display-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 2px solid green;
}






@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}